<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Git Repository/web-auto-test">
        <classes>
            <class name="com.example.testng.WebTest">
                <methods>
                    <include name="testBaidu"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>